@charset "utf-8";
@import "normalize.css";
@import "font/font.css";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.5;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  height: auto;
  font-size: 1.125rem;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: #00adef;
}
a:link,
a:active,
a:visited {
  color: #444;
}
ul,
ul li {
  list-style: none;
}
img,
fieldset,
iframe {
  border: 0 none;
}
form legend,
fieldset legend,
hr {
  display: none;
}
em,
address {
  font-style: normal;
}
table {
  width: 100%;
  table-layout: fixed;
}
table caption {
  display: none;
}
table th {
  text-align: center;
}
button {
	border: 0;
}
h1,h2,h3,h4,h5 {
	font-weight: normal;
}
strong {
	font-weight: 700;
}

.overflow {
  overflow: hidden !important;
}
.hidden {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -5000px;
}
.show {
  display: block !important;
}
.floatL {
  float: left !important;
}
.floatR {
  float: right !important;
}
.alignC {
  text-align: center !important;
}
.alignL {
  text-align: left !important;
}
.alignR {
  text-align: right !important;
}

.marB0 {margin-bottom: 0px !important;}
.marB5 {margin-bottom: 5px !important;}
.marB10 {margin-bottom: 10px !important;}
.marB20 {margin-bottom: 20px !important;}
.marB30 {margin-bottom: 30px !important;}
.marB40 {margin-bottom: 40px !important;}
.marB50 {margin-bottom: 50px !important;}
.marT5 {margin-top: 5px !important;}
.marT10 {margin-top: 10px !important;}
.marT20 {margin-top: 20px !important;}
.marT30 {margin-top: 30px !important;}
.marT40 {margin-top: 40px !important;}
.marT50 {margin-top: 50px !important;}

.marL10 {margin-left: 10px !important;}
.marL20 {margin-left: 20px !important;}

.padT10 {padding-top: 10px !important;}
.padT20 {padding-top: 20px !important;}

table colgroup col.auto {
	width: auto;
}
table colgroup col.w5per {
	width: 5%;
}
table colgroup col.w8per {
	width: 8%;
}
table colgroup col.w10per {
	width: 10%;
}
table colgroup col.w15per {
	width: 15%;
}
table colgroup col.w20per {
	width: 20%;
}
table colgroup col.w25per {
	width: 25%;
}
table colgroup col.w30per {
	width: 30%;
}
table colgroup col.w35per {
	width: 35%;
}
table colgroup col.w40per {
	width: 40%;
}
table colgroup col.w45per {
	width: 45%;
}
table colgroup col.w50per {
	width: 50%;
}
table colgroup col.w55per {
	width: 55%;
}
table colgroup col.w60per {
	width: 60%;
}
table colgroup col.w65per {
	width: 65%;
}
table colgroup col.w70per {
	width: 70%;
}
table colgroup col.w75per {
	width: 75%;
}
table colgroup col.w80per {
	width: 80%;
}
table colgroup col.w85per {
	width: 85%;
}
table colgroup col.w90per {
	width: 90%;
}
table colgroup col.w95per {
	width: 95%;
}
table colgroup col.w100per {
	width: 100%;
}
input.full,
select.full,
textarea.full{
	width: 100% !important;
}
input.w10per,
select.w10per,
textarea.w10per {
	width: 10% !important;
}
input.w15per,
select.w15per,
textarea.w15per {
	width: 15% !important;
}
input.w20per,
select.w20per,
textarea.w20per {
	width: 20% !important;
}
input.w30per,
select.w30per,
textarea.w30per {
	width: 30% !important;
}
input.w40per,
select.w40per,
textarea.w40per {
	width: 40% !important;
}
input.w50per,
select.w50per,
textarea.w50per {
	width: 50% !important;
}
input.w60per,
select.w60per,
textarea.w60per {
	width: 60% !important;
}
input.w70per,
select.w70per,
textarea.w70per {
	width: 70% !important;
}

#skip {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}
#skip a {
  display: block;
  height: 1px;
  width: 1px;
  margin-bottom: -1px;
  overflow: hidden;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  background: #00adef;
  white-space: nowrap;
  text-align: center;
}
#skip a:focus,
#skip a:active {
  height: auto;
  width: auto;
  padding: 8px;
  margin-bottom: 10px;
}
